.caixa1,
footer {
  background-color: #1f2937;
}

header h1 {
  font-size: 24px;
  color: #f9faf8;
}

header li,
.caixa1 p {
  font-size: 18px;
  color: #e5e7eb;

}

header a {
  text-decoration: none;
  color: inherit;
}

li {
  display: flex;
}

#texto1 {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

header {
  display: flex;
  justify-content: space-around;

}